numpy==1.26.4
pandas==2.2.3
scipy==1.13.1
statsmodels==0.14.4
matplotlib==3.8.4
spacy==3.8.14
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
